@import '/css/reset.css';
:root{
    --nav-bg:#012d63;
    --nav-light:#C7C7C7;
}

.page-wraper {
    
}
.nav-wraper {
    background-color: var(--nav-bg);
}
.container {
    margin-left: 167px;
    margin-right: 167px;
}
.nv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
}
.nav-items{
    display: flex;
    align-items: center;
    
}
.nav-items-li {
    margin-right: 30px;
    cursor: pointer;
    color: var(--nav-light);
    transition: all .7s;
}
.nav-items-li:nth-child(6){
    margin-right: 72px;
}
.nav-items-li:nth-child(7){
    margin-right: 8px;
}
.nav-items-li:hover{
    color: white;
}
.header-wraper {
    background: url(/img/background-header.png) no-repeat center/cover; 
    padding-top: 94px;
    padding-bottom: 183px;
}
.header {
    
}
.header-logo {
}
.header-title {
    font-size: 152px;
}
.header-subtitle {
    font-size: 80px;
}
.header-desk {
    width: 430px;
}
.header-buy {
    padding: 15px 30px;
    background-color: #8E32C6;
    border-radius: 5px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 41px;
    width: 254px;
    height: 67px;
    font-size: 25px;
    cursor: pointer;
}